body {

}

body > div {
    padding: 0px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 16px;
}

.frontal {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.left-frontal {
    display: flex;
    flex-direction: column;
}

.info-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.infos {
    display: flex;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.quote {
    display: block;
    padding: 50px 150px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer {
    text-align: center;
}